@tailwind base;

@tailwind components;

:root {
  --white: #f6f6f6;
  --black: #4a4a4a;
  --gray: #eee;
}

/* Typography */
body {
  background-color: #f6f6f6;
  font-family: 'Nunito', 'Lato', 'San Fransico', 'Helvetica', 'Verdana', sans-serif;
  color: var(--black);
}

.heading-bold {
  @apply font-medium text-black text-heading my-3;
}

/* End of Typography */

/* Button */

@layer components {
  .button {
    @apply uppercase text-sm flex items-center justify-center leading-none w-40 h-10 px-2;
  }

  .button:disabled {
    @apply bg-opacity-75;
  }

  .button-primary {
    @apply bg-orange-300 text-white text-body rounded-super font-medium;
  }

  .button-primary:hover {
    @apply bg-orange-100;
  }

  .button-secondary {
    @apply bg-white text-orange-300 rounded-full border font-medium;
  }

  .button-secondary:hover {
    @apply border-orange-300;
  }

  .button-sm {
    @apply py-1 px-4 h-8;
  }

  .button-lg {
    @apply py-3 px-6 h-12;
  }

  .button-success {
    @apply bg-green text-white rounded-full text-body;
  }
}

/* End of Button */

/* Form */

@layer components {
  .focused-input {
    @apply focus:ring focus:ring-offset-0 focus:ring-blue-600 focus:ring-opacity-50 focus:border-blue-600;
  }

  .form-input {
    @apply bg-white border border-gray-500 rounded-md px-3 py-2 placeholder-gray-400 focused-input;
  }

  .form-checkbox {
    @apply h-5 w-5 text-green rounded-sm focused-input;
  }

  .form-checkbox:checked {
    background-image: url('/icons/checkbox.svg');
  }

  .form-select {
    @apply form-input pr-10 bg-no-repeat focus:outline-none;
    background-position: right 0.5rem center;
    background-size: 1.5em;
    background-image: url('/icons/select-arrow.svg');
  }

  .form-radio {
    @apply rounded-full border h-6 w-6 focused-input;
  }

  .form-radio:checked {
    background-image: url('/icons/radio.svg');
  }

  .form-radio:checked:disabled {
    background-image: url('/icons/radio-disabled.svg');
  }
}

/* End of form */

/* Input */

.input {
  @apply form-input h-12 text-sm outline-none transition-colors duration-100 text-black;
}

.input:disabled {
  @apply bg-gray-500;
}

textarea.input {
  @apply h-40;
}

.textarea-input {
  @apply block rounded-sm;
}

.field-with-error,
.field-with-error:focus {
  @apply border-red text-red;
}

.input-counter {
  @apply text-purple-100 uppercase font-bold float-right mt-1 text-caption;
}

.input-label {
  @apply text-green text-caption uppercase font-sans;
}

.input-token {
  @apply text-white font-sans items-center justify-center bg-indigo-500 px-4 py-3 text-body rounded-r;
}

/* End of Input */

/* Select */

.select {
  @apply h-12 text-sm block border border-gray-500 rounded-sm text-black outline-none transition-colors duration-100 focus:border-purple-500;
}

/* End of Select */

/* Elm Select*/

.elm-select-menu .elm-select-item:last-of-type .items-center > .border-dotted {
  border-style: unset
}

/* End of Elm Select*/

/* Tooltip */

.tooltip-container p {
  visibility: hidden;
}

.tooltip-container:hover p {
  visibility: visible;
}

.tooltip-container p::after {
  content: ' ';
  position: absolute;
  bottom: 100%;
  right: 5%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

/* End of Tooltip */

/* Icon Tooltip */
.icon-tooltip {
  @apply relative inline-block align-middle leading-none;
}

.icon-tooltip .icon-tooltip-content {
  @apply invisible absolute bg-black rounded-sm p-2 text-sm text-white;
  width: 18em;
  line-height: 1.4;
  left: -3em;
  margin-top: 10px;
}

.icon-tooltip:hover .icon-tooltip-content {
  @apply visible;
}

.icon-tooltip::after {
  visibility: hidden;
  position: absolute;
  content: ' ';
  left: 50%;
  margin-left: -10px;
  top: 7px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.icon-tooltip:hover:after {
  @apply visible;
}

/* End of Icon Tooltip */

/* Modal */

.modal {
  @apply z-50 fixed inset-0;
  transition: opacity 0.25s ease;
}

.modal-bg {
  @apply bg-black inset-0 fixed opacity-50;
}

.modal-content {
  @apply bg-white rounded-t-lg absolute bottom-0 w-full;
}

.modal-content-full {
  @apply rounded-t-none top-0 overflow-auto;
}

.modal-header {
  @apply w-full font-medium text-heading p-4 pb-2;
}

.modal-body {
  @apply p-4 pt-0 text-body overflow-y-auto;
  min-height: 4rem;
  max-height: 60vh;
}

.modal-body-lg {
  @apply p-4 pt-0 text-body overflow-y-auto;
  min-height: 4rem;
  max-height: 70vh;
}

.modal-body-full {
  max-height: unset;
}

.modal-footer {
  @apply flex flex-wrap justify-center items-center p-4 pt-0;
}

.modal-cancel {
  @apply button button-secondary w-full mb-4;
}

.modal-accept {
  @apply button button-primary w-full;
}

@screen md {
  .modal-content {
    @apply max-w-3xl top-modal z-10 bottom-auto left-1/2 transform -translate-x-1/2 mx-auto rounded-lg;
  }

  .modal-body-lg {
    @apply px-4 py-0 text-body overflow-y-auto;
    min-height: 4rem;
    max-height: 60vh;
  }

  .modal-body-full {
    max-height: 80vh;
  }

  .modal-footer {
    @apply bg-gray-100 rounded-b-lg p-4;
  }

  .modal-cancel {
    @apply mb-0 w-48 mr-8;
  }

  .modal-accept {
    @apply w-48;
  }
}

/* End of Modal */

/* Tag */

.tag {
  @apply uppercase rounded text-caption py-1 px-5;
}

/* End of Tag */

/* CHECKBOX TOGGLE SWITCH */
.form-switch {
  @apply relative select-none w-10 mr-2 leading-normal;
}

.form-switch-checkbox {
  @apply hidden;
}

.form-switch-label {
  @apply block overflow-hidden cursor-pointer bg-white border-2 border-gray-100 rounded-full h-6;

  transition: background-color 0.2s ease-in;
  min-width: 43px;
}

.form-switch-label:before {
  @apply absolute block bg-gray-900 inset-y-0 w-4 h-4 rounded-full -ml-1 mt-1;

  right: 50%;
  content: '';
  transition: all 0.2s ease-in;
}

.form-switch-checkbox:checked + .form-switch-label {
  @apply bg-indigo-500 shadow-none;
}

.form-switch-checkbox:checked + .form-switch-label:before {
  @apply right-0 bg-white;

  margin-right: 0.05rem;
}

@layer utilities {
  .form-error {
    /* validation message for the field */
    @apply text-red text-caption uppercase tracking-wide block mt-1;
  }
}

.shake-invalid {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.form-error-on-dark-bg {
  @apply form-error text-lightred;
}

.lang-menu-open .lang-flag {
  @apply mr-2;
}

.min-h-stretch {
  /* Fill all available vertical space. It works predictable for mobile,
  because it doesn't take the address bar into account. */
  @apply min-h-screen;
  min-height: stretch;
}

/* Sticky Footer, https://css-tricks.com/couple-takes-sticky-footer/#article-header-id-3 */
.sf-wrapper {
  @apply flex flex-col;
}

.sf-content {
  flex: 1 0 auto;
}

.sf-footer {
  flex-shrink: 0;
}

/* End of Sticky Footer */

/* Objectives */
.action-verifier svg {
  fill: #EEEEEE;
}
/* End of Objectives */

.spinner-light {
  border-color: white;
  border-right-color: transparent;
}

/* Claims */
.claim-photo-thumb {
  @apply cursor-pointer w-24 h-16 flex items-center justify-center rounded-sm;
}

.claim-photo-thumb:hover {
  @apply ring;
}
/* End of Claims */

/* Button Modifiers (must be below all other button's styles) */
.button-disabled {
  @apply bg-gray-500 text-gray-900 rounded-super text-body pointer-events-none;
}

.button-disabled:hover {
  @apply bg-gray-500;
}

.button-danger {
  @apply button-secondary text-red;
}

.button-danger:hover {
  @apply border-red;
}
/* End of Button Modifiers */

/* Legacy CSS leftover */

.hidden-img-input,
.profile-img-input {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* End of Legacy CSS leftover */

@import './elm-datepicker.css';

/* https://tailwindcss.com/docs/extracting-components#extracting-css-components-with-apply */
@tailwind utilities;
